body {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
  color: white;
}
.container {
  background-color: #122f4c;
  padding: 0;
}

.form-signin label {
  color: white;
  font-size: 18px;
}
.form-signin input {
  border-radius: 2px;
}

.form-signin input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer {
  margin: 10px;
  text-align: center;
  color: #122f4c;
  font-weight: bold;
}
.error {
  color: red;
}
.submitted {
  color: green;
}
